<%= form_for @donation do |f|%>
<%= f.hidden_field :user_id, value: current_user %>

<%= f.label "Select an organization:" %><br>
<%= f.collection_select :organization_id, Organization.all.order(:name).uniq, :id, :name, include_blank: true %><br>

  <p>or</p>

<%= f.fields_for :organization, @donation.build_organization do |org_form| %>
  <%= org_form.label "Add Organization" %><br>
  <%= org_form.text_field :name %><br><br>
<% end %>

<%= f.label :date %><br>
<%= f.text_field :date %><br>
<%= f.label :amount %><br>
<%= f.text_field :amount %><br>
<%= f.label :honoree %><br>
<%= f.text_field :honoree %><br>
<%= f.label :comments %><br>
<%= f.text_area :comments %><br>
<%= f.submit %>
<% end %>
