<h3>Record a New Donation: </h3>
<%= form_for @donation do |f|%>
  <%= f.label :amount %><br>
  <%= f.text_field :amount %><br>
  <%= f.label :honoree %><br>
  <%= f.text_field :honoree %><br>
  <%= f.label :comments %><br>
  <%= f.text_field :comments %><br>
  <%= f.submit %>
<% end %>
