<h1>Your Donation to <%= @donation.organization.name %>!<br></h1>

Date: <%= @donation.date %><br>
Amount:  <%= @donation.amount %><br>
In honor of: <%= @donation.honoree %><br>
Comments:<%= @donation.comments %><br>

<%= link_to "Edit This Donation", edit_donation_path(@donation) %>
<%= button_to "Delete Donation", @donation, :method => :delete %>
