<h1>You donated $<%= @donation.amount %> to <%= @donation.organization.name %>!<br></h1>

Date: <%= @donation.date %><br>
In honor of: <%= @donation.honoree %><br>
Comments:<%= @donation.comments %><br>
